* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background:#212529;
    color:rgba(255,255,255,0.8);
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color:rgba(255,255,255,0.8);
}

nav a:hover{
    color:rgba(255,255,255,1);    
}

nav a.aqui{
    text-decoration: none;
    color:rgba(255,255,255,0.6);
}

canvas {
    display: block;
}

aside {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38vw;
}

@media (orientation: portrait) {
    aside {
        width: 62vw;
    }
}

div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80vw;
}

@media (orientation: landscape) {
    div {
        width: 40vw;
    }
}

aside p, div p {
    font-size: 1.38rem;
    line-height: 1.38;
    margin-bottom:1rem;
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

div p input{
    float:right;
    margin-top:.5rem;
}

aside span, div span{
    font-weight: bold;
}